* {
  box-sizing: border-box;
}
body,
h1,
h2,
p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #aaa;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
label {
  padding: 0;
  margin: 0;
  display: block;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.box {
  padding: 0rem 1.25rem;
  max-width: 960px;
  margin: 0 auto;
}
